@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Student>

<a asp-action="AddStudent" class="btn btn-info">Add STudent</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Profile</th>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th scope="row">@d.sid</th>
                <td><img src="@d.sprofile" height="50" width="50"/></td>
                <td>@d.sname</td>
                <td>@d.scourse</td>
                <td></td>
            </tr>
        }


    </tbody>
</table>