@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<Auth>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Password</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
        {
            <tr>
                <th scope="row">@x.Email</th>
                <td>@x.Password</td>

            </tr>
        }
        
       
    </tbody>
</table>